#rtlc -xrtl is default
#Delcare all XRTL modules to RTLS. These are the modules that will run on the emulator.
##comp -top hdl_top 
comp -hvl questa
rtlc -opt_level 0
rtlc -allow_4ST
rtlc -questa_task_allowed
rtlc -partition_module_xrtl mem_if
rtlc -partition_module_xrtl mem_intf
rtlc -partition_module_xrtl DDR3MemPkg
rtlc -partition_module_xrtl hdltop
comp -platform D1S
comp -num_boards 1 
